@import "../../scss/globalColor.scss";

.headroom{
  background-color: $darkBackground;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-list {
  width: 100%;
  background-color: $darkBackground;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  flex: none;
  float: left;
  font-size: 1.5em;
  padding-top: 10px;
  line-height: normal;
  font-family: "Agustina Regular";
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 10px;
  color: $textColor;
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
}

.navbar-items {
  display: block;
  margin-bottom: 1rem;
  float: right;
}

.navbar-items a {
  display: block;
  color: $textColor;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

@media only screen and (max-width: 961px){
  .headroom{
    display: none;
  }
}