@import "../../scss/globalColor.scss";

#navbar-list{
    list-style-type: none;
    width: 100%;
    margin-top: 0;
    padding: 0px;
    overflow: hidden;
    background-color: $darkBackground;
}

.navbar-items {
    float: right;
  }
  
  .navbar-items a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }

  