@import "../../scss/globalColor.scss";

.prof-container{
    display: flex;
}

.prof-text {
    width: 50%;
    //border: 2px solid red;
    padding: 20px;
}

.prof-lottie{
    width: 50%;
    overflow: hidden;
    margin: auto;
   //border: 2px solid red;
}

.lottie-wrapper {
    transform: scale(1.4);
}

.prof-heading{
    font-size: calc(10px + 2vw);
}